<!--<div class="col-md-6 col-md-offset-3">

	<h1>Hi {{currentUser.firstName}}!</h1>
	<p>You're logged in with the ASP.NET Core & Angular 2/4!!</p>

	<h3>All registered users:</h3>
	<ul>
		<li *ngFor="let user of users">
			{{user.username}} ({{user.firstName}} {{user.lastName}})
			- <a (click)="deleteUser(user.id)">Delete</a>
		</li>
	</ul>

	<p><a (click)="logOutAndRedirectToLoginPage()">Logout</a></p>
</div>-->

<div class="row">

	<div class="col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

		<h3>This is where an overview would go...</h3>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget scelerisque sem. Curabitur at nibh ut sapien fringilla bibendum. Cras ante lacus, malesuada at quam in, molestie tincidunt turpis. Sed faucibus dui vel cursus maximus. Nulla facilisi. Morbi euismod libero sit amet orci posuere, nec porta felis cursus. Etiam leo libero, congue eu tempus quis, blandit ac lectus.
		</p>

	</div>

</div>